div{
    background-color: wheat;
    border: yellowgreen 2px solid;
    height: 114px;
    width: 363px;
    margin-left: 479px;
    margin-top: 252px;
   
}
/* border type - solid */
/* output tab l inspect kodth pick element kodth code edit chyyam..height and width value okke adjust chyth nokkit */
/* box ne position mattanamenkil...athayith withrespect to margin */